* {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.multipixels .titles {
    margin-top: 15rem;
    margin-left: 20rem;
    max-width: 40%;
    text-transform: uppercase;
}

.titles .title {
    font-size: 7em;
    /* font-weight: bold; */
    line-height: 8rem;
}

.titles .subtitle {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(255, 106, 106);
    padding-left: 3rem;
}