@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
    color: white;
    font-family: 'Oswald', sans-serif;
}

input[type=range] {
    -webkit-appearance: none;
    width: 30%;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff; 
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(239, 68, 68);
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}